Gmail Filter Workflow.json
{
  "name": "Gmail Filter Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First name"
            },
            {
              "fieldLabel": "Last Name"
            },
            {
              "fieldLabel": "email"
            },
            {
              "fieldLabel": "occupation",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "student"
                  },
                  {
                    "option": "Eniggner"
                  },
                  {
                    "option": "doctor"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "c99ba75a-559e-4043-94e4-ad02da8fc9ae",
      "name": "On form submission",
      "webhookId": "d2e4f1c6-de43-49c5-95db-1fc9b002a1ba"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1e4LiCFXPXyRSaQ1KtuwmiqX-3XxFAkdlTLW5zWG3BeU",
          "mode": "list",
          "cachedResultName": "Test spreadheet 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e4LiCFXPXyRSaQ1KtuwmiqX-3XxFAkdlTLW5zWG3BeU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e4LiCFXPXyRSaQ1KtuwmiqX-3XxFAkdlTLW5zWG3BeU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First name ": "={{ $json[\"First name\"] }}",
            "Last Name": "={{ $json[\"Last Name\"] }}",
            "Email": "={{ $json.email }}",
            "occupation": "={{ $json.occupation }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "First name ",
              "displayName": "First name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "occupation",
              "displayName": "occupation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        208,
        0
      ],
      "id": "0313a08c-0c1a-4d92-bdb3-a4707432e897",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0EBUPByZs1WKySV4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d184e594-8933-4fe6-b85c-1b6e513f3336",
              "leftValue": "={{ $json.occupation }}",
              "rightValue": "student",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "e65471a0-8d4d-471d-ad24-91603469606b",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Append or update row in sheet').item.json.occupation }}",
                    "rightValue": "student",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "10fc6506-6606-4b97-8e9e-032c0000e0a9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6c35a5e4-ee1b-48c9-bc5f-266a00b2d33c",
                    "leftValue": "={{ $('Append or update row in sheet').item.json.occupation }}",
                    "rightValue": "Doctor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        0
      ],
      "id": "5ecbfccd-ef7a-494a-9c6d-f3ce54a31ee0",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "chakravardhanramannagari06@gmail.com",
        "subject": "hello",
        "message": "enginner lead",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        -80
      ],
      "id": "006a5776-d4da-4f25-b173-1ade9ada33ca",
      "name": "Send a message",
      "webhookId": "444be9f0-d29c-4f3f-b08c-a17116060414",
      "credentials": {
        "gmailOAuth2": {
          "id": "e86EgBTM4gyRbXdW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chakravardhanramannagari06@gmail.com",
        "subject": "hello",
        "message": "doctor lead",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        96
      ],
      "id": "baec3a95-fcbe-42fa-ac1e-b84d2b818aec",
      "name": "Send a message1",
      "webhookId": "444be9f0-d29c-4f3f-b08c-a17116060414",
      "credentials": {
        "gmailOAuth2": {
          "id": "e86EgBTM4gyRbXdW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -16
      ],
      "id": "911e0ce2-0b83-441a-94b6-318771ef98bd",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "chakravardhanramannagari06@gmail.com",
        "subject": "hello",
        "message": "you have a new lead message",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        -16
      ],
      "id": "8052a632-6d79-40fc-8a15-6e25ace9255a",
      "name": "Send a message2",
      "webhookId": "c292c4d5-35a4-4778-b060-2b0c5a66fdd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "e86EgBTM4gyRbXdW",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54f3b296-1fd4-4ad5-bae1-6f5f62f89aff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46635abfede25bc4a9d8a0b15136695b0d680cf7672f20aed3396e151bf2b890"
  },
  "id": "kI7fK3YQRycHFuXl",
  "tags": []
}